#main-div {
    padding: 30px 60px;
  }

  #main-landing{
    width: 95%;
    font-family: "Comfortaa", sans-serif;
    font-family: "Onest", sans-serif;
    font-family: "Inconsolata", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bolder;
  }

  @keyframes spaceAnimation {
    0% { transform: skewY(0); }
    25% { transform: skewY(-.5deg); }
    50% { transform: skewY(0); }
    75% { transform: skewY(.5deg); }
    100% { transform: skewY(0); }
  }

  #rick-space{
    width: 500px;
    animation: spaceAnimation 1s infinite;
    box-shadow: none;
  }
  
  #cards-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }

  @media(max-width:450px){
    #main-div {
      padding: 30px 60px;
    }
    
    #cards-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      box-sizing: border-box;
      width: 100%;
    }
  }